body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('backimg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1, h2 {
    text-align: center;
    color: #f8f8f7;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #fbfbfa;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ffa500;
}

.weather-section, .forecast-section, .alert-section {
    margin: 20px 0;
}

#weather-info, #alerts-info, #forecast-info {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #ddd;
}
